{% extends 'home.html' %}

{% block content %}

<h1>{{ title }}</h1>

<!-- Пагинация -->
{% if page_obj.has_previous %}
    <a href="?page=1"> В начало </a>
    <a href="?page={{ page_obj.previous_page_number }}"> Предыдущая </a>
{% endif %}

<table>
        <tr>
            {% if page_obj.has_other_pages %}
            
            {% for item in page_obj.paginator.page_range %}
                {% if item == page_obj.number %}
                    <td><p>{{ item }}</p></td>
                <!-- Отображение только 2-х страниц слева и справа от текущей страницы -->
                {% elif item >= page_obj.number|add:-2 and item <= page_obj.number|add:2 %}
                    <td><a href="?page={{ item }}">{{ item }}</a></td>    
                {% endif %}
            {% endfor %}

            {% endif %} 
        </tr>
 </table>

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"> Следующая </a>
    <a href="?page={{ page_obj.paginator.num_pages }}"> В конец </a>
{% endif %}
<!-- Конец пагинации -->

<!-- Вывод перечня продуктов по категориям -->    
<ul>
    
    {% for i in post %}
    {% if i.is_published %}
    <li>
        <h2><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h2>
        
        {% if i.photo %}
            <p><img src="{{ i.photo.url }}" alt="{{ i.title }}" width="150" height="auto"></p>
        {% endif %}

        <p>{{ i.content }}</p>

        <table>
            <td>
                <tr>Тэг: </tr>
                {% for tag in i.tag.all %}
                <tr><a href="{{ tag.get_absolute_url }}">{{ tag }} </a></tr>
                {% endfor%}
            </td>
        </table>
        <hr>

    </li>
    {% endif %}
    {% endfor %}
</ul>
<!-- Конец Вывода перечня продуктов по категориям -->    

<!-- Вывод перечня продуктов по тэгам -->    
<ul>
    {% for tag in tag_selection %}
    <li>
        <h2><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></h2>
        
        {% if tag.photo %}
            <p><img src="{{ tag.photo.url }}" alt="{{ tag.title }}" width="150" height="auto"></p>
        {% endif %}
        
        <p>{{ tag.content }}</p>

        <table>
            <td>
                <tr>Тэг: </tr>
                {% for tag in tag.tag.all %}
                <tr><a href="{{ tag.get_absolute_url }}">{{ tag }} </a></tr>
                {% endfor%}
            </td>
        </table>
        <hr>

    </li>
    {% endfor %}
</ul>
<!-- Конец Вывода перечня продуктов по тэгам -->    

{% endblock %}
