/yuliavenv/Lib/**
/yuliavenv/Scripts/django-admin.exe
/yuliavenv/Scripts/pip.exe
/yuliavenv/Scripts/pip3.11.exe
/yuliavenv/Scripts/pip3.exe
/yuliavenv/Scripts/python.exe
/yuliavenv/Scripts/pythonw.exe
/yuliavenv/Scripts/sqlformat.exe
