{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Yulia's Coffeeshop</title>
    <link type="text/css" href="{% static 'yulia_app_1/css/styles.css' %}" rel="stylesheet"/>
</head>

<body bgcolor = "SaddleBrown" >

    <font color = "white">
        
<!-- Главное меню - расширяется со всех html -->        
    <table>
            {% for m in main_menu %}
            <td>
                <h1><a href="{% url m.url_name %}">{{m.title}}</a></h1>
            </td>        
            {% endfor %}
       
    </table>
<!-- Конец Главного меню -->        

<!-- Категории меню - расширяется только с menu.html (виды menu, show_category) -->        
        <table>                    
            {% for cat in all_categories %}
            <td>
                <h2><a href="{{ cat.get_absolute_url }}">{{cat.title}}</a></h2>        
            </td>       
            {% endfor %}           
        </table> 
<!-- Конец Категорий меню -->        

<!-- Список тэгов - расширяется только с menu.html (вид show_tag) -->        
    <table>  
        <td>                  
            <tr>{{title_tags}}</tr>
            {% for tag in all_tags %}
            <tr><a href="{{ tag.get_absolute_url }}">{{tag.tag}} </a></tr>        
            {% endfor %}
        </td>       
    </table> 
<!-- Конец Списка тэгов -->   

{% block content %}

<h1>{{ title }}</h1>

{% endblock %}

    </font>

</body>